.home {
    text-align: center;
    justify-content: space-around;
    display: flex;
    margin:0px;
    background: #1B1D26;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10px;
    background: #1b1d26;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    list-style: none;
}